name: Test

on: [push, workflow_dispatch]

jobs:
  metrics:
    runs-on: ubuntu-slim

    steps:
      - name: Checkout main branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Checkout data branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: "data"
          path: "data"

      - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0

      - name: Install dependencies
        run: uv sync

      - name: Generate metrics
        run: |
          uv run gametrack-data metrics \
            --input-filename data/games.csv
