name: Test

on: [push, workflow_dispatch]

jobs:
  metrics:
    runs-on: ubuntu-slim

    steps:
      - name: Checkout main branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Checkout data branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: "data"
          path: "data"

      - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6

      - name: Install dependencies
        run: uv sync

      - name: Generate metrics
        run: |
          uv run gametrack-data metrics \
            --input-filename data/games.csv
